body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ffffff;
    color: #6a246d;
    padding: 10px 0;
    position: relative;
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    max-width: 150px;
    height: 85px;
    margin-left: 20px;
    border-radius: 50px;
}


.menu-icon {
    font-size: 2.5em;
    cursor: pointer;
    display: none;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons .icon {
    margin-right: 20px;
    cursor: pointer;
}

.search-icon {
    position: relative;
}

.search-icon input {
    padding-left: 25px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #6a246d;
    font-weight: bold;
    font-size: 1.1em;
    transition: color 0.3s;
}

nav a:hover {
    color: #b359b6;
}

/* ... (Estilos posteriores) ... */

/* Estilos responsivos */
@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #e1e1e1;
        width: 100%;
        text-align: center;
    }

    nav.active {
        display: flex;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }
}

section {
    padding: 60px 0;
}

.bg-white {
    background-color: #ffffff;
    color: #6a246d;
}

.bg-gray {
    background-color: #f0f0f0;
    color: #6a246d;
}

.bg-black {
    background-color: #000000;
    color: #ffffff;
}

.btn {
    padding: 10px 20px;
    text-decoration: none;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #6a246d;
}

.btn-success {
    background-color: #28a745;
}

.btn:hover {
    opacity: 0.8;
}


#inicio {
    background-color: #ffffff;
    padding: 80px 0; /* Aumentamos el espaciado interno */
    text-align: center; /* Centramos el contenido */
}

.section-title {
    color: #6a246d;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.section-description {
    color: #333; /* Color de texto más oscuro */
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #6a246d;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #522061; /* Color ligeramente más oscuro al pasar el mouse */
}

#mision-vision {
    background-color: #ffffff;
    padding: 35px 0;
    text-align: center;
}

.section-title {
    color: #6a246d;
    font-size: 2.5em;
    margin-bottom: 40px;
}

.mission-vision-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.mission,
.vision {
    width: 45%; /* Ajustamos el ancho de las secciones para un diseño más equilibrado */
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd; /* Añadimos un borde para resaltar cada sección */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadimos una sombra sutil */
}

.mission h3,
.vision h3 {
    color: #6a246d;
}

.mission p,
.vision p {
    color: #333;
    font-size: 1.1em;
    line-height: 1.6;
}

#objetivos {
    background-color: #f0f0f0;
    padding: 80px 0;
    text-align: center;
}

.section-title {
    color: #6a246d;
    font-size: 2.5em;
    margin-bottom: 40px;
}

.objectives-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.objective {
    width: 45%; /* Ajustamos el ancho de las secciones para un diseño más equilibrado */
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd; /* Añadimos un borde para resaltar cada sección */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadimos una sombra sutil */
    color: #333;
    font-size: 1.1em;
    line-height: 1.6;
}





#productos {
    padding: 80px 0;
}

.section-title {
    color: #6a246d;
    font-size: 2.5em;
    margin-bottom: 40px;
}

.bg-light {
    background-color: #f9f9f9;
}

.filter-search {
    margin-bottom: 30px;
}

.filter-search input,
.filter-search select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: 48%; /* Ajustamos el ancho de los productos para un diseño más equilibrado */
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease-in-out;
}

.product:hover {
    transform: scale(1.05); /* Efecto de escala al pasar el mouse */
}

.product img {
    max-width: 200px;
    height: auto;
    border-radius: 5px;
}

.product-info {
    text-align: center;
    margin-top: 10px;
}

.price {
    font-weight: bold;
    color: #6a246d;
    margin-top: 10px;
}

.btn-primary {
    background-color: #6a246d;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #4e174e;
}
#carrito-container,
#finalizar-compra {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#carrito-container h2,
#finalizar-compra h2 {
    color: #6a246d;
    font-size: 1.8em;
    margin-bottom: 20px;
}

#carrito-lista {
    list-style: none;
    padding: 0;
    margin: 0;
}

#carrito-lista li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

#total {
    color: #6a246d;
    font-weight: bold;
}

.btn-success {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-success:hover {
    background-color: #45a049;
}

#finalizar-compra p {
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

#finalizar-compra input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn-primary {
    background-color: #6a246d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #4e174e;
}


#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 1.5rem;
    background-color: #6a246d;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    display: none;
}

.blog-post {
    background-color: #fff; /* Fondo blanco */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sutil sombra */
    margin-bottom: 40px;
    text-align: justify;
}

.blog-post h3 {
    color: #6a246d; /* Color púrpura */
    font-size: 2em;
    margin-bottom: 15px;
}

.blog-post p {
    color: #333; /* Texto oscuro */
    font-size: 1.2em;
    line-height: 1.6;
}

.blog-post a {
    color: #6a246d; /* Color púrpura */
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 15px;
}

.blog-post a:hover {
    text-decoration: underline; /* Subrayar al pasar el mouse */
}


#faq {
    background-color: #f2f2f2; /* Fondo gris claro */
    padding: 80px 0;
    text-align: center;
}

#faq h2 {
    color: #333; /* Texto oscuro */
    font-size: 2.5em;
    margin-bottom: 40px;
}

.faq-item {
    width: 60%;
    margin: 0 auto 30px;
    padding: 20px;
    background-color: #fff; /* Fondo blanco */
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sutil sombra */
}

.faq-item h3 {
    color: #6a246d; /* Color púrpura */
    font-size: 1.8em;
    margin-bottom: 10px;
}

.faq-item p {
    color: #666; /* Texto gris oscuro */
    font-size: 1.1em;
}


#pedidos-personalizados {
    background-color: #000000; /* Color rosa más claro */
    padding: 50px 0;
    text-align: center;
}

#pedidos-personalizados h2 {
    color: #ffffff; /* Color púrpura */
    font-size: 2.5em;
    margin-bottom: 20px;
}

#pedidos-personalizados p {
    color: #fff; /* Texto en blanco */
    font-size: 1.2em;
    margin-bottom: 30px;
}

#pedidos-personalizados a.btn-primary {
    background-color: #6a246d; /* Botón de color púrpura */
    color: #fff; /* Texto en blanco */
    padding: 15px 30px;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#pedidos-personalizados a.btn-primary:hover {
    background-color: #4e174e; /* Cambio de color al pasar el ratón */
}

#newsletter {
    background-color: #ffffff; /* Color rosa más claro */
    padding: 50px 0;
    text-align: center;
}

#newsletter h2 {
    color: #6a246d; /* Color púrpura */
    font-size: 2.5em;
    margin-bottom: 20px;
}

#newsletter form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newsletter input[type="email"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 2px solid #6a246d; /* Borde color púrpura */
    border-radius: 5px;
}

#newsletter label {
    display: flex;
    align-items: center;
    color: #6a246d; /* Color púrpura */
    margin: 10px 0;
}

#newsletter input[type="checkbox"] {
    margin-right: 10px;
}

#newsletter button.btn-primary {
    background-color: #6a246d; /* Botón de color púrpura */
    color: #fff; /* Texto en blanco */
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#newsletter button.btn-primary:hover {
    background-color: #4e174e; /* Cambio de color al pasar el ratón */
}

#ventajas {
    background-color: #fff; /* Fondo blanco */
    padding: 80px 0;
    text-align: center;
}

#ventajas h2 {
    color: #6a246d; /* Color púrpura */
    font-size: 2.5em;
    margin-bottom: 40px;
}

.ventajas-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ventaja-item {
    width: 45%;
    padding: 20px;
    margin: 10px;
    background-color: #6a246d12; /* Fondo rosa más claro */
    border-radius: 10px;
    text-align: left;
}

.ventaja-item i {
    font-size: 2em;
    color: #6a246d; /* Color púrpura */
    margin-bottom: 10px;
}

.ventaja-item h3 {
    color: #6a246d; /* Color púrpura */
    font-size: 1.5em;
    margin-bottom: 10px;
}

.ventaja-item p {
    color: #333; /* Texto oscuro */
    font-size: 1.1em;
}


#contacto {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    padding: 50px 0;
}

#contacto h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

#contacto p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

#contacto form label {
    display: block;
    font-size: 1.2em;
    margin-bottom: 8px;
}

#contacto form input,
#contacto form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo blanco transparente */
    color: #fff;
}

#contacto form button {
    background-color: #6a246d; /* Púrpura */
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s;
}

#contacto form button:hover {
    background-color: #492154; /* Púrpura más oscuro al pasar el mouse */
}


/* Estilos para el footer */
footer {
    background-color: #ddd; /* Fondo gris claro */
    padding: 50px 0;
}

#pagos {
    padding: 30px 0;
}

#pagos h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

.iconos-pagos {
    font-size: 2em;
    color: #6a246d; /* Púrpura */
}

.container {
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 30px;
}

.footer-section {
    flex: 1;
    margin-right: 20px;
}

.footer-section h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.social-media {
    font-size: 2em;
    margin-top: 20px;
}

.social-media a {
    color: #6a246d; /* Púrpura */
    margin-right: 15px;
}

/* Estilos para el texto de derechos reservados */
.footer-section p {
    font-size: 1.2em;
    color: #6a246d; /* Texto blanco */
}


@media screen and (max-width: 600px) {
    .logo {
        font-size: 1.5rem;
    }

    .header-icons {
        display: none;
    }
}

/* Personalizar el scroll */
::-webkit-scrollbar {
    width: 12px; /* Ancho del scroll */
}

::-webkit-scrollbar-thumb {
    background-color: #6a246d; /* Color del scroll */
    border-radius: 10px; /* Bordes redondeados del scroll */
}

::-webkit-scrollbar-track {
    background-color: #ddd; /* Color del fondo del scroll */
}
